*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: beige;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.choice{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 30px;
    gap: 20px;
}

#user_score, #comp_score{
    font-size: 4rem;
}

.msg_container {
        margin-top: 30px;
}
#msg{
    background-color: #081b31;
    color: whitesmoke;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 20px;
}